@font-face {
  font-family: 'univers-bold';
  src: url("../fonts/Univers/Univers-LT-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%; }

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  height: 100%;
  color: #333333; }

ul {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

input,
select,
textarea {
  outline: 0 !important; }

img {
  max-width: 100%; }

h1, h2, h3, h4 {
  font-family: "univers-bold", sans-serif; }

h1 {
  font-size: 44px;
  color: #ffcc00;
  text-transform: uppercase;
  margin-bottom: 25px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

section {
  padding: 5% 0; }
  section.no-padding {
    padding: 0; }

.btn {
  padding: 6px 30px;
  border: none;
  border-radius: 0; }
  .btn.btn-primary {
    color: #000000;
    background-color: #ffcc00;
    font-family: "univers-bold", sans-serif;
    font-size: 20px;
    padding: 5px 40px; }

.nav-top {
  background: #ffcc00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcc00 0%, #ffd426 47%, #ffde59 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffcc00 0%, #ffd426 47%, #ffde59 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #ffcc00 0%, #ffd426 47%, #ffde59 100%);
  background: linear-gradient(to bottom, #ffcc00 0%, #ffd426 47%, #ffde59 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ffde59',GradientType=0 );
  /* IE6-9 */
  padding: 0 5%; }
  .nav-top .nav-top-wrapper {
    float: right; }
  .nav-top .nav-top-item {
    float: left; }
    .nav-top .nav-top-item a {
      display: block;
      padding: 8px 20px;
      color: #000000;
      background-color: #ffcc00;
      border-left: 1px solid #c19e0f;
      border-right: 1px solid #c19e0f;
      font-weight: bold; }
    .nav-top .nav-top-item.nav-top-signin a {
      border-left: none; }

.header {
  background-color: #000000;
  padding: 0 5%; }
  .header li {
    padding: 34px 0; }
  .header a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "univers-bold", sans-serif;
    font-size: 22px; }
  .header .logo {
    padding: 15px 0;
    margin-right: 100px;
    float: left; }
  .header .nav-menu {
    float: left;
    margin-bottom: 0; }
    .header .nav-menu li {
      margin-right: 30px; }
  .header .nav-right {
    float: right; }
    .header .nav-right .nav-right-item {
      display: inline-block;
      margin-bottom: 0; }
      .header .nav-right .nav-right-item.nav-lang {
        margin-bottom: 0; }
        .header .nav-right .nav-right-item.nav-lang a {
          color: #999999; }
          .header .nav-right .nav-right-item.nav-lang a.active {
            color: #ffffff; }
        .header .nav-right .nav-right-item.nav-lang .separator {
          font-size: 20px;
          vertical-align: top;
          color: #999999; }
      .header .nav-right .nav-right-item.nav-search-icon {
        margin-left: 40px; }

.front .slider {
  position: relative;
  padding: 0 0 80px; }
  .front .slider #home-slider .slider-text {
    position: absolute;
    top: 14%;
    left: 15%;
    color: #ffffff;
    font-family: "univers-bold", sans-serif;
    text-transform: uppercase;
    line-height: 85px; }
    .front .slider #home-slider .slider-text h1.text-yellow {
      color: #fc0;
      font-size: 56px;
      margin-bottom: 0; }
    .front .slider #home-slider .slider-text .text-desc {
      font-size: 70px; }
    .front .slider #home-slider .slider-text .text-small {
      font-size: 30px;
      line-height: 0;
      margin-top: 50px;
      margin-bottom: 15px; }
    .front .slider #home-slider .slider-text .btn {
      text-transform: capitalize; }
  .front .slider #home-slider .owl-controls {
    margin: 0; }
    .front .slider #home-slider .owl-controls .owl-page span {
      background-color: #666;
      opacity: 1;
      width: 17px;
      height: 17px; }
    .front .slider #home-slider .owl-controls .owl-page.active span {
      background-color: #fff;
      opacity: 1; }
  .front .slider #home-slider .owl-pagination {
    position: absolute;
    bottom: 120px;
    width: 100%; }
  .front .slider .featured {
    position: absolute;
    bottom: 0; }
    .front .slider .featured .featured-wrapper .featured-item {
      float: left;
      width: 20%;
      position: relative; }
      .front .slider .featured .featured-wrapper .featured-item .featured-text-wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 15px 0;
        font-family: "univers-bold", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 23px;
        height: 76px; }
        .front .slider .featured .featured-wrapper .featured-item .featured-text-wrapper .featured-text-title {
          color: #ffcc00; }
        .front .slider .featured .featured-wrapper .featured-item .featured-text-wrapper .featured-text-summary {
          color: #ffffff; }
.front .news {
  background-color: #f6f6f6; }
  .front .news h3 {
    margin-top: 0; }
  .front .news .news-item {
    background-color: #ffffff;
    margin-bottom: 25px;
    padding: 25px; }
    .front .news .news-item .news-item-title {
      color: #000000;
      line-height: 31px; }
    .front .news .news-item .news-item-cat {
      font-weight: bold;
      font-size: 18px;
      color: #ff9900;
      margin-bottom: 10px; }
    .front .news .news-item .news-item-date {
      margin-top: 15px;
      font-size: 16px; }
    .front .news .news-item .news-item-desc {
      font-size: 16px; }
.front .testimonial {
  padding: 45px 0;
  background: url(../images/frontpage/testimonial-bg.jpg) no-repeat;
  background-size: cover;
  color: #000000;
  text-align: center;
  font-weight: bold; }
  .front .testimonial .testimonial-content-wrapper .testimonial-text {
    font-size: 28px;
    font-style: italic;
    position: relative;
    line-height: 37px; }
    .front .testimonial .testimonial-content-wrapper .testimonial-text:before {
      content: "";
      background: url(../images/frontpage/quotes.png) no-repeat;
      width: 18px;
      height: 16px;
      position: absolute;
      margin-left: -50px;
      margin-top: 10px; }
    .front .testimonial .testimonial-content-wrapper .testimonial-text:after {
      content: "";
      background: url(../images/frontpage/quotes.png) -19px no-repeat;
      width: 18px;
      height: 16px;
      position: absolute;
      margin-left: 70px;
      margin-top: 10px; }
  .front .testimonial .testimonial-content-wrapper .testimonial-text-small {
    font-size: 18px;
    margin-top: 25px; }

.right-contact {
  position: fixed;
  top: 30%;
  right: 0; }
  .right-contact .right-contact-item {
    font-family: "univers-bold", sans-serif;
    text-align: center;
    background-color: #ffcc00;
    padding: 10px;
    width: 100px;
    margin-bottom: 1px;
    color: #000000; }
    .right-contact .right-contact-item.right-contact-link {
      display: block;
      color: #000000; }
    .right-contact .right-contact-item .contact-text {
      font-size: 16px;
      line-height: 19px; }
    .right-contact .right-contact-item.right-raq .contact-icon {
      margin-top: 9px;
      margin-bottom: 10px; }
      .right-contact .right-contact-item.right-raq .contact-icon img {
        width: 23px; }
    .right-contact .right-contact-item.call-center .contact-icon {
      font-size: 25px;
      margin-top: 2px;
      margin-bottom: 5px; }
    .right-contact .right-contact-item.call-center .contact-number {
      font-size: 18px; }
    .right-contact .right-contact-item.right-live-chat {
      padding-bottom: 16px; }
      .right-contact .right-contact-item.right-live-chat .contact-icon {
        position: relative;
        width: 23px;
        margin: 20px auto 10px; }
        .right-contact .right-contact-item.right-live-chat .contact-icon i {
          font-size: 23px; }
        .right-contact .right-contact-item.right-live-chat .contact-icon .contact-notif {
          font-size: 14px;
          font-family: "Arial", sans-serif;
          line-height: 23px;
          background-color: #ffffff;
          position: absolute;
          top: -15px;
          right: -15px;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          border: 2px solid #ffcc00; }
    .right-contact .right-contact-item.find-us {
      padding-bottom: 20px; }
      .right-contact .right-contact-item.find-us .contact-icon {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 11px; }

footer {
  background-color: #000000; }
  footer .nav-footer {
    padding: 20px 5%; }
    footer .nav-footer a {
      color: #ffffff; }
    footer .nav-footer .nav-footer-link {
      font-family: "univers-bold", sans-serif;
      margin-bottom: 20px; }
      footer .nav-footer .nav-footer-link li {
        margin-right: 20px; }
        footer .nav-footer .nav-footer-link li a {
          font-size: 16px; }
    footer .nav-footer .footer-social {
      margin-bottom: 20px; }
      footer .nav-footer .footer-social a {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 5px;
        text-align: center;
        line-height: 45px;
        font-size: 18px; }
        footer .nav-footer .footer-social a.social-facebook {
          background-color: #3b5998; }
        footer .nav-footer .footer-social a.social-linkedin {
          background-color: #007bb6; }
        footer .nav-footer .footer-social a.social-youtube {
          background-color: #bf221f; }
    footer .nav-footer .copyright {
      color: #999999;
      font-size: 12px; }
      footer .nav-footer .copyright a {
        color: #999999; }
    footer .nav-footer .newsletter .newsletter-title {
      color: #ffcc00;
      font-family: "univers-bold", sans-serif;
      font-size: 20px;
      margin-bottom: 10px; }
    footer .nav-footer .newsletter .newsletter-form {
      position: relative; }
      footer .nav-footer .newsletter .newsletter-form input[type=text] {
        background-color: #ffcc00;
        border: 0;
        padding: 10px 15px;
        width: 100%;
        border-radius: 0;
        color: #000000;
        font-weight: bold; }
        footer .nav-footer .newsletter .newsletter-form input[type=text]::-webkit-input-placeholder {
          color: #000000; }
        footer .nav-footer .newsletter .newsletter-form input[type=text]:-moz-placeholder {
          color: #000000; }
        footer .nav-footer .newsletter .newsletter-form input[type=text]::-moz-placeholder {
          color: #000000; }
        footer .nav-footer .newsletter .newsletter-form input[type=text]:-ms-input-placeholder {
          color: #000000; }
      footer .nav-footer .newsletter .newsletter-form .btn-submit {
        padding: 10px 10px 9px 10px;
        font-size: 16px;
        position: absolute;
        right: 0;
        color: #000000;
        top: 0;
        background-color: transparent; }
