footer {
  background-color: $color-primary-black;
  .nav-footer {
    padding: 20px 5%;
    a {
      color: $color-white;
    }
    .nav-footer-link {
      font-family: $font-univers-bold;
      margin-bottom: 20px;
      li {
        margin-right: 20px;
        a {
          font-size: 16px;
        }
      }
    }
    .footer-social {
      margin-bottom: 20px;
      a {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 5px;
        text-align: center;
        line-height: 45px;
        font-size: 18px;
        &.social-facebook {
          background-color: $color-facebook;
        }
        &.social-linkedin {
          background-color: $color-linkedin;
        }
        &.social-youtube {
          background-color: $color-youtube;
        }
      }
    }
    .copyright {
      color: $color-copyright;
      font-size: 12px;
      a {
        color: $color-copyright;
      }
    }
    .newsletter {
      .newsletter-title {
        color: $color-primary-yellow;
        font-family: $font-univers-bold;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .newsletter-form {
        position: relative;
        input[type=text] {
          background-color: $color-primary-yellow;
          border: 0;
          padding: 10px 15px;
          width: 100%;
          @include borderRadius(0);
          color: $color-primary-black;
          font-weight: bold;
          &::-webkit-input-placeholder {
            color: $color-primary-black;
          }
          &:-moz-placeholder {
            color: $color-primary-black;
          }
          &::-moz-placeholder {
            color: $color-primary-black;
          }
          &:-ms-input-placeholder {
            color: $color-primary-black;
          }
        }
        .btn-submit {
          padding: 10px 10px 9px 10px;
          font-size: 16px;
          position: absolute;
          right: 0;
          color: #000000;
          top: 0;
          background-color: transparent;
        }
      }
    }
  }
}