.front {
  .slider {
    position: relative;
    padding: 0 0 80px;
    #home-slider {
      .slider-text {
        position: absolute;
        top: 14%;
        left: 15%;
        color: #ffffff;
        font-family: "univers-bold", sans-serif;
        text-transform: uppercase;
        line-height: 85px;
        h1.text-yellow {
          color: #fc0;
          font-size: 56px;
          margin-bottom: 0;
        }
        .text-desc {
          font-size: 70px;
        }
        .text-small {
          font-size: 30px;
          line-height: 0;
          margin-top: 50px;
          margin-bottom: 15px;
        }
        .btn {
          text-transform: capitalize;
        }
      }
      .owl-controls {
        margin: 0;
        .owl-page {
          span {
            background-color: #666;
            opacity: 1;
            width: 17px;
            height: 17px;
          }
          &.active {
            span {
              background-color: #fff;
              opacity: 1;
            }
          }
        }
      }
      .owl-pagination {
        position: absolute;
        bottom: 120px;
        width: 100%;
      }
    }
    .featured {
      position: absolute;
      bottom:0;
      .featured-wrapper {
        .featured-item {
          float: left;
          width: 20%;
          position: relative;
          .featured-text-wrapper {
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 15px 15px 0;
            font-family: $font-univers-bold;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 23px;
            height: 76px;
            .featured-text-title {
              color: $color-primary-yellow;
            }
            .featured-text-summary {
              color: $color-white;
            }
          }
        }
      }
    }
  }
  .news {
    background-color: $color-news-bg;
    h3 {
      margin-top: 0;
    }
    .news-item {
      background-color: $color-white;
      margin-bottom: 25px;
      padding: 25px;
      .news-item-title {
        color: $color-primary-black;
        line-height: 31px;
      }
      .news-item-cat {
        font-weight: bold;
        font-size: 18px;
        color: $color-font-category;
        margin-bottom: 10px;
      }
      .news-item-date {
        margin-top: 15px;
        font-size: 16px;
      }
      .news-item-desc {
        font-size: 16px;
      }
    }
  }
  .testimonial {
    padding: 45px 0;
    background: url(../images/frontpage/testimonial-bg.jpg) no-repeat;
    background-size: cover;
    color: #000000;
    text-align: center;
    font-weight: bold;
    .testimonial-content-wrapper {
      .testimonial-text {
        font-size: 28px;
        font-style: italic;
        position: relative;
        line-height: 37px;
        &:before {
          content: "";
          background: url(../images/frontpage/quotes.png) no-repeat;
          width: 18px;
          height: 16px;
          position: absolute;
          margin-left: -50px;
          margin-top: 10px;
        }
        &:after {
          content: "";
          background: url(../images/frontpage/quotes.png) -19px no-repeat;
          width: 18px;
          height: 16px;
          position: absolute;
          margin-left: 70px;
          margin-top: 10px;
        }
      }
      .testimonial-text-small {
        font-size: 18px;
        margin-top: 25px;
      }
    }
  }
}