.nav-top {
  background: rgb(255,204,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(255,212,38,1) 47%, rgba(255,222,89,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,204,0,1) 0%,rgba(255,212,38,1) 47%,rgba(255,222,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,204,0,1) 0%,rgba(255,212,38,1) 47%,rgba(255,222,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ffde59',GradientType=0 ); /* IE6-9 */
  padding: 0 5%;
  .nav-top-wrapper {
    float: right;
  }
  .nav-top-item {
    float: left;
    a {
      display: block;
      padding: 8px 20px;
      color: $color-primary-black;
      background-color: $color-primary-yellow;
      border-left: 1px solid $color-nav-top-border;
      border-right: 1px solid $color-nav-top-border;
      font-weight: bold;
    }
    &.nav-top-signin {
      a {
        border-left: none;
      }
    }
  }
}

.header {
  background-color: $color-primary-black;
  padding: 0 5%;
  li {
    padding: 34px 0;
  }
  a {
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-univers-bold;
    font-size: 22px;
  }
  .logo {
    padding: 15px 0;
    margin-right: 100px;
    float:left;
  }
  .nav-menu {
    float: left;
    margin-bottom: 0;
    li {
      margin-right: 30px;
    }
  }
  .nav-right {
    float: right;
    .nav-right-item {
      display: inline-block;
      margin-bottom: 0;
      &.nav-lang {
        margin-bottom: 0;
        a {
          color: $color-lang-not-active;
          &.active {
            color: $color-white;
          }
        }
        .separator {
          font-size: 20px;
          vertical-align: top;
          color: $color-lang-not-active;
        }
      }
      &.nav-search-icon {
        margin-left: 40px;
      }
    }
  }
}

