.right-contact {
  position: fixed;
  top:30%;
  right: 0;
  .right-contact-item {
    font-family: $font-univers-bold;
    text-align: center;
    background-color: $color-primary-yellow;
    padding: 10px;
    width: 100px;
    margin-bottom: 1px;
    color: $color-primary-black;
    &.right-contact-link {
      display: block;
      color: $color-primary-black;
    }
    .contact-text {
      font-size: 16px;
      line-height: 19px;
    }
    &.right-raq {
      .contact-icon {
        margin-top: 9px;
        margin-bottom: 10px;
        img {
          width: 23px;
        }
      }
    }
    &.call-center {
      .contact-icon {
        font-size: 25px;
        margin-top: 2px;
        margin-bottom: 5px;
      }
      .contact-number {
        font-size: 18px;
      }
    }
    &.right-live-chat {
      padding-bottom: 16px;
      .contact-icon {
        position: relative;
        width: 23px;
        margin: 20px auto 10px;
        i {
          font-size: 23px;
        }
        .contact-notif {
          font-size: 14px;
          font-family: $font-body;
          line-height: 23px;
          background-color: $color-white;
          position: absolute;
          top: -15px;
          right: -15px;
          width: 26px;
          height: 26px;
          @include borderRadius(50%);
          border: 2px solid $color-primary-yellow;
        }
      }
    }
    &.find-us {
      padding-bottom: 20px;
      .contact-icon {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 11px;
      }
    }
  }
}
