.btn {
  padding: 6px 30px;
  border: none;
  @include borderRadius(0);
  &.btn-primary {
    color: $color-primary-black;
    background-color: $color-primary-yellow;
    font-family: $font-univers-bold;
    font-size: 20px;
    padding: 5px 40px;
  }
}
