html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
}
body {
  font-family: $font-body;
  font-size: 14px;
  height: 100%;
  color: $color-font-body;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  &:hover {
    text-decoration: none;
  }
}
input,
select,
textarea {
  outline: 0 !important;
}
img {
  max-width: 100%;
}

h1,h2,h3,h4 {
  font-family: $font-univers-bold;
}

h1 {
  font-size: 44px;
  color: $color-primary-yellow;
  text-transform: uppercase;
  margin-bottom: 25px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}
section {
  padding: 5% 0;
  &.no-padding {
    padding: 0;
  }
}