@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}
@mixin borderRadius($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  -o-border-radius: $border;
  border-radius: $border;
}
@mixin transition ($variable) {
  -webkit-transition: $variable;
  -moz-transition: $variable;
  -o-transition: $variable;
  transition: $variable;
}