//color
$color-primary-yellow: #ffcc00;
$color-primary-black: #000000;

$color-nav-top-border: #c19e0f;

$color-lang-not-active: #999999;
$color-white: #ffffff;
$color-copyright: #999999;
$color-facebook: #3b5998;
$color-linkedin: #007bb6;
$color-youtube: #bf221f;

$color-news-bg: #f6f6f6;

$color-font-body: #333333;
$color-font-category: #ff9900;

//font
$font-body: 'Arial', sans-serif;
$font-univers-bold: 'univers-bold', sans-serif;

//fontface
@font-face {
  font-family: 'univers-bold';
  src: url('../fonts/Univers/Univers-LT-Bold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}